<template>
  <div>
    <div class="controls-container">
      <div class="single-control">
        <v-select
            :change="getActualCurrency()"
            v-model="selectedCurrency"
            :items="currencies"
            item-text="currency"
            item-value="code"
            label="Waluta"
        ></v-select>
      </div>
    </div>
    <div class="data-table">
      <v-data-table
          :headers="headers"
          :items="data.data[0].rates"
          :items-per-page="5"
          class="elevation-1"
      ></v-data-table>
      <div v-if="selectedCurrency">Dzisiejszy kurs waluty {{exchangeState.data.currency}} to BID: {{exchangeState.data.rates[0].bid}} ASK:{{exchangeState.data.rates[0].ask}} </div>

    </div>
  </div>
</template>

<script>
import CurrencyService from "../services/CurrencyService";
export default {
  name: 'Calculator',
  data() {
    return {
      data: null,
      selectedCurrency: null,
      currencies: [],
      headers: [{text: 'bid', value: 'bid'}, {text: 'ask', value: 'ask'}, {text: 'currency', value: 'currency'}],
      currencyService: new CurrencyService(),
      exchangeState: null
    }
  },
  methods: {
    getCurrencies(data) {
      data.forEach((item) => {
        this.currencies.push({currency: item.currency, code: item.code})
      });
    },
    async getActualCurrency() {
      if (!this.selectedCurrency) {
        return;
      }
      this.exchangeState = await this.currencyService.getExchangeRate(this.selectedCurrency);
    }
  },
  async created() {
    this.data = await this.currencyService.getData();
    this.getCurrencies(this.data.data[0].rates);
  }
}
</script>
<style>
.controls-container{
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  .single-control {
    width: 33%;
  }
}
.data-table {
  width: 80%;
  margin: auto;
}
</style>