<template>
  <v-app>
    <div>
      <v-app-bar
          color="#FAA83B"
          dense
          dark
      >

        <v-spacer></v-spacer>
        <span><router-link to="/calculator">Kalkulator</router-link></span>
      </v-app-bar>
    </div>
    <v-main>
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<script>

export default {
  name: 'App',

  components: {
  },

  data: () => ({
    //
  }),
};
</script>
